<!--<nav>
    <a routerLink="/dashboard" routerLinkActive="activebutton" class="button">Dashboard</a>
    <a routerLink="/pokemonmate" routerLinkActive="activebutton" class="button">PokemonMAterial</a>
    <a routerLink="/pokemonmate2" routerLinkActive="activebutton" class="button">PokemonMAterial 2</a>
    <a routerLink="/pokemon">Pokemon</a>
</nav>-->

<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
<button mat-menu-item><a routerLink="dashboard" routerLinkActive="activebutton" class="button">Dashboard</a></button>
<button mat-menu-item><a routerLink="pokemonmenu" routerLinkActive="activebutton" class="button">PokemonMenu</a></button>
<button mat-menu-item><a routerLink="menu-componet" routerLinkActive="activebutton" class="button">MenuComponent</a></button>

</mat-menu> -->


<!--<nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="activebutton" class="button">Dashboard</a></li>
      <li><a routerLink="/pokemonmate" routerLinkActive="activebutton" class="button"></a>>PokemonMAterial</li>
      <li><a routerLink="/pokemonmate2" routerLinkActive="activebutton" class="button"></a>>PokemonMAterial 2</li>
      <li><a routerLink="/pokemon">Pokemon</a></li>
    </ul>
  </nav>-->
  <router-outlet></router-outlet>
